body {
  font-family: arial;
  color: #333;
}

.App {
  display: flex;
}

h1 {
  font-weight: normal;
  margin: 20px auto;
  text-align: center;
}

label {
  margin-left: 20px;
  margin-right: 20px;
}

.divLabel {
  display: flex;
  align-items: center;
}

.detail,
form {
  width: 500px;
  margin: 20px auto;
}

.errorMsg {
  color: #aaa;
  margin-bottom: 10px;
}

.inputFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 8px 16px;
  font-size: 2em;
  margin: 10px auto;
  width: 450px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #ccc;
  outline: none !important;
}

/* validation styles */

input.valid {
  border-color: #36cc36;
}
input.invalid {
  border-color: orange;
}
input + p {
  font-family: arial;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  margin: 0 10px;
  color: orange;
  opacity: 0;
  height: 0;
}
input.invalid + p {
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
}

.clearBtn,
.submitBtn {
  color: white;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  background-color: #4183d7;
  font-size: 20px;
  height: 40px;
  width: 45%;
  text-align: center;
  margin-top: 30px;
}

.passed {
  color: rgba(white, 0.3);
  transition: 0.4s all;
  text-decoration: line-through;
}

.itemDetail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 20px;
  margin-bottom: 5px;
}

.svgIcon {
  margin-right: 10px;
}

.details {
  margin-top: 10px;
  margin-bottom: 20px;
}

.validRegex {
  color: blue;
}

.invalidRegex {
  color: red;
}

.headerParam {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}
